@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.form {
  margin-block-start: 8rem;
  inline-size: 100%;

  .field {
    display: flex;
    align-items: center;
    margin-block-end: 2rem;

    label {
      flex-basis: 10rem;
    }

    input {
      flex: 1;
      border: none;
      padding: calc(v.$gap / 4);
      border-radius: 1rem;
    }
  }
}
