$fontPrimary: 'Poppins', sans-serif;

$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightBold: 700;
$fontWeightBlack: 900;

$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

$colorBlue: #0da6f3;
$colorRed: #cb0000;
$colorGreen: #329f00;
$colorBlack: #1a1b15;
$colorWhite: #ffffff;
$colorGrey: #e1e1e1;

$gap: 5rem;

$sizes: 1 2 3 4 5 6;
